<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../components/head") %>
    </head>
    <body>
        <h1><%= title %></h1>
        <%- include("../components/messages") %>

        <p><a href="/new" class="button-link">Add new message</a></p>
    </body>
</html>
