<form method="POST" action="/new">
    <label for="nameForm">Name:</label>
    <input type="text" id="nameForm" name="name" />
    <label for="messageForm">Message:</label>
    <input type="text" id="messageForm" name="message" />
    <button type="submit">Submit</button>
</form>
